<div class="col-md-6">
  <a class="directions" href="https://www.google.com/maps/place/Theater+Schmeater/@47.613406,-122.3454447,17z/data=!4m5!3m4!1s0x5490154c5d93b3d3:0x476c13477b962edf!8m2!3d47.613623!4d-122.3433633">
    <h2>GET DIRECTIONS</h2>
    <div class="map"></div>
  </a>
</div>
