<ul>
  <li><a href="/about/#contact">CONTACT US</a></li>
  <li><a href="/about/#tickets">TICKET INFO</a></li>
  <li><a href="/about/#directions">DIRECTIONS</a></li>
  <li><a href="/about/#donate">DONATE</a></li>
</ul>
<div class="footerInfo">
  <span class="logo"></span>
  <div>
    <p><span>Theater Schmeater</span></p>
    <p><span>Address:</span> 2125 3rd Ave, Seattle, WA 98121</p>
    <p><span>Phone:</span> (206) 324-5801<p>
  </div>
  <div class="mailing-address">
    <p><span>Mailing Address</span></p>
    <p>300 Lenora #161, Seattle, WA 98121</p>
    <p><span>Email:</span> md@schmeater.org</p>
  </div>
  <div class="links">
      <a href="https://www.facebook.com/TheSchmee/">
        <span class="fb"></span></a>
      <a href="https://twitter.com/TheaterSchmee">
        <span class="tw"></span></a>
  </div>
</div>
<small> &copy; 2017 Theater Schmeater, website by Nicky C. Smit</small>
