<article{{ attributes }}>
    <div class="margin">
      <div{{ content_attributes }}>
        {{ content }}
          <a href="photos" class="library-button">Go to Photo Library</a>
      </div>
    </div>
</article>
