<article{{ attributes }}>
    <div class="margin photo-full container">
      <div{{ content_attributes }}>
        {{ content }}
        <div>
          <div class="photo-back-button"><a href="/theater-schmeater/photos">Back To the Library</a></div>
        </div>
      </div>
    </div>
</article>
